name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        idf_ver: ['release-v5.5']
        idf_target: ['esp32', 'esp32s3', 'esp32p4']

    container:
      image: espressif/idf:${{ matrix.idf_ver }}

    steps:
      - uses: actions/checkout@v4

      - name: Build example
        working-directory: examples/basic
        run: |
          . $IDF_PATH/export.sh
          idf.py set-target ${{ matrix.idf_target }}
          idf.py build
        shell: bash
